{% extends 'base.html' %}

{% block content %}
   <div class="container mt-5">
      <h2>Редагування профілю</h2>
      <form method="post">
         {% csrf_token %}
         {% for field in form %}
            <div class="form-group">
               {{ field.label_tag }}
               {{ field }}
               {% if field.errors %}
                  <div class="alert alert-danger">
                     {% for error in field.errors %}
                        {{ error }}
                     {% endfor %}
                  </div>
               {% endif %}
            </div>
         {% endfor %}
         <button type="submit" class="btn btn-primary">Зберегти зміни</button>
      </form>
      <a href="{% url 'dashboard' %}" class="btn btn-secondary mt-3">Повернутися до дашборду</a>
   </div>
{% endblock %}